body {
  text-align: center;
  background-color: #c2ddf2; /* nouveau fond bleu clair */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-white {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 90%;
}

/* Apple colors */
:root {
  --apple-background: #c2ddf2; /* nouveau fond bleu clair */
  --apple-text-color: #1d1d1f;
  --apple-blue: #0a84ff;
  --apple-light-blue: #5ac8fa;
  --apple-green: #30d158;
  --apple-yellow: #ffd60a;
  --apple-orange: #ff9f0a;
  --apple-red: #ff453a;
}

body {
  background-color: var(--apple-background);
  color: var(--apple-text-color);
}

a {
  color: var(--apple-blue);
}

a[href="https://www.linkedin.com/"]::before {
content: "💼 ";
}

a.facebook:before {
  content: "\1F4F1"; /* Emoji Unicode pour un globe terrestre avec un signe "f" */
  margin-right: 5px;
}

a.twitter:before {
  content: "\1F426"; /* Emoji Unicode pour un oiseau */
  margin-right: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--apple-text-color);
}

.card-white {
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

.button {
  background-color: var(--apple-blue);
  color: #fff;
  border-radius: 4px;
  padding: 12px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--apple-light-blue);
}

.button:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px var(--apple-blue);
}

.button-secondary {
  background-color: #fff;
  color: var(--apple-blue);
  border-radius: 4px;
  padding: 12px 20px;
  border: 2px solid var(--apple-blue);
  font-size: 16px;
  cursor: pointer;
}

.button-secondary:hover {
  background-color: var(--apple-blue);
  color: #fff;
}

.button-secondary:focus {
  outline: none;
  box-shadow: 0px 0px 0px 3px var(--apple-blue);
}

